{% extends 'aplicacion/inicio.html' %} {% load static %}

{% block title %} Lista {% endblock %}

{% block '' %}
<body>
    <div class="container">
        <br><br><br><br>
        <h1>Lista de Discos</h1>
        <ul>
            {% if disco %}
                {% for disc in disco %}
                <li>
                    Título: {{ disc.Titulo }}<br>
                    Artista: {{ disc.Artista }}<br>
                    Género: {{ disc.Genero }}<br>
                    <a href="{% url 'Editar-Disco' disc.id %}">Modificar</a>
                </li>
                {% endfor %}
            {% else %}
                <li>No hay discos disponibles.</li>
            {% endif %}
        </ul>
    </div>
</body>
{% endblock %}