{% extends 'aplicacion/inicio.html' %} {% load static %}

{% block title %} Contacto {% endblock %}

{% block '' %}
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Contactanos</h2>
                <form action="" class="" method="post">
                    <br>
                    {% csrf_token %}
                    {{ formulario }}
                    <div class="d-flex justify-contend-end">
                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btn Enviar" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}